In [68]:
import pandas as pd

In [70]:
path = r"C:\Users\mihai\Desktop\SIOLA\Диссертация\HypoDD\hypsum.out"
path = r"C:\Users\mihai\Desktop\SIOLA\Диссертация\HypoDD\Original_model\hypsum.out"

In [71]:
erh = []
erz = []
Erx = []

with open(path, 'r') as f:
    for line in f:
        # slice positions (0-based indexing)
        erh.append(line[68:72].strip())
        erz.append(line[72:77].strip())
        Erx.append(line[77:82].strip())

# If you later want a DataFrame:
import pandas as pd
df = pd.DataFrame({'erh': erh, 'erz': erz, 'Erx': Erx})

In [72]:
df = df.iloc[1:,:]

In [73]:
# Convert columns to float
df[['erh', 'erz', 'Erx']] = df[['erh', 'erz', 'Erx']].astype(float)

# Count rows where all values > 20
good_df = df[(df['erh'] < 10) & (df['erz'] < 10) & (df['Erx'] < 10)]

print("Number of rows with all values > 20:", good_df.count())

Number of rows with all values > 20: erh    411
erz    411
Erx    411
dtype: int64

In [74]:
good_df.describe()

              erh         erz         Erx
count  411.000000  411.000000  411.000000
mean     6.429197    4.163504    5.843309
std      2.211505    2.074898    2.104460
min      2.000000    0.000000    1.800000
25%      4.600000    2.600000    4.100000
50%      6.400000    3.700000    5.700000
75%      8.600000    5.400000    7.800000
max      9.900000    9.900000    9.600000